// Created by kyech on 2017-06-22.

<!-- KGSH Community - Board -->
<!-- 뭐가 궁금하다고 F12 를 누른거지 자네..? -->
<!-- 자네가 궁금해 할건 여기 없으니 훠이훠이 -->

<!-- 어이, 더 이상 읽는다면 내 소스코드가 무슨짓을 할지 모른다구..? -->

<!-- 이것참, 역시 자네는 못말리겠군 -->

include board.html