<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>KGSH Community</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="stylesheets/timeline.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar_top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- 모바일 화면에 메뉴 축소 판 -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KG</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Navbar 좌측 상단 -->
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">타임라인 <span class="sr-only">(current)</span></a></li>
            </ul>
            <!-- 검색 창 -->
            <form class="navbar-form navbar-left">
                <div class="form-group has-feedback has-feedback-left">
                    <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    <input type="text" class="form-control" placeholder="추천 검색어 : 꼭지">
                </div>
                <button type="submit" class="btn btn-default">검색</button>
            </form>

            <!-- Navbar 우측 상단 -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">강예찬 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">내 정보</a></li>
                        <li><a href="#">환경 설정</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<div class="container">
    <div class="card">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">최신순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">섹스순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>

<div class="container">
    <div class="col-xs-12 col-md-4">
    </div>
    <div class="col-md-4" id="timeline_col">
        <div class="thumbnail">
            <a href="https://www.pexels.com/photo/mist-misty-fog-foggy-7919/">
                <img class="img-responsive img-rounded" src="https://pexels.imgix.net/photos/7919/pexels-photo.jpg"
                     alt="Lights" style="width:100%">
                <hr class="style15">
                <div class="caption">
                    <h4 class="card-title">충격 윤준서 좌측 꼭지 실종되어...</h4>
                    <h6 class="text-muted">@김덕원(님)이 작성</h6>
                    <p>한국게임과학고등학교 3학년 프로그래밍 전공 윤준서군의 좌측 젖꼭지가 실종되어 화제이다. 이에 전교성이 모두 충격먹어 응급실로 실려간 사람이 4명이며 정확한 실종 원인과 사라진 젖꼭지를 찾고있다...</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </a>
        </div>
        <div class="thumbnail">
            <a href="https://www.pexels.com/photo/mist-misty-fog-foggy-7919/">
                <img class="img-responsive img-rounded" src="https://pexels.imgix.net/photos/7919/pexels-photo.jpg"
                     alt="Lights" style="width:100%">
                <hr class="style15">
                <div class="caption">
                    <h4 class="card-title">충격 윤준서 좌측 꼭지 실종되어...</h4>
                    <h6 class="text-muted">@김덕원(님)이 작성</h6>
                    <p>한국게임과학고등학교 3학년 프로그래밍 전공 윤준서군의 좌측 젖꼭지가 실종되어 화제이다. 이에 전교성이 모두 충격먹어 응급실로 실려간 사람이 4명이며 정확한 실종 원인과 사라진 젖꼭지를 찾고있다...</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    (function ($) {

        $.fn.endlessScroll = function (options) {

            var defaults = {
                bottomPixels: 50,
                fireOnce: true,
                fireDelay: 150,
                loader: "<br />Loading...<br />",
                data: "",
                insertAfter: "div:last",
                resetCounter: function () {
                    return false;
                },
                callback: function () {
                    return true;
                },
                ceaseFire: function () {
                    return false;
                }
            };

            var options = $.extend({}, defaults, options);

            var firing = true;
            var fired = false;
            var fireSequence = 0;

            if (options.ceaseFire.apply(this) === true) {
                firing = false;
            }

            if (firing === true) {
                $(this).scroll(function () {
                    if (options.ceaseFire.apply(this) === true) {
                        firing = false;
                        return; // Scroll will still get called, but nothing will happen
                    }

                    if (this == document || this == window) {
                        var is_scrollable = $(document).height() - $(window).height() <= $(window).scrollTop() + options.bottomPixels;
                    } else {
                        // calculates the actual height of the scrolling container
                        var inner_wrap = $(".endless_scroll_inner_wrap", this);
                        if (inner_wrap.length == 0) {
                            inner_wrap = $(this).wrapInner("<div class=\"endless_scroll_inner_wrap\" />").find(".endless_scroll_inner_wrap");
                        }
                        var is_scrollable = inner_wrap.length > 0 &&
                            (inner_wrap.height() - $(this).height() <= $(this).scrollTop() + options.bottomPixels);
                    }

                    if (is_scrollable && (options.fireOnce == false || (options.fireOnce == true && fired != true))) {
                        if (options.resetCounter.apply(this) === true) fireSequence = 0;

                        fired = true;
                        fireSequence++;

                        $(options.insertAfter).after("<div id=\"endless_scroll_loader\">" + options.loader + "</div>");

                        data = typeof options.data == 'function' ? options.data.apply(this, [fireSequence]) : options.data;

                        if (data !== false) {
                            $(options.insertAfter).after("<div id=\"endless_scroll_data\">" + data + "</div>");
                            $("div#endless_scroll_data").hide().fadeIn();
                            $("div#endless_scroll_data").removeAttr("id");

                            options.callback.apply(this, [fireSequence]);

                            if (options.fireDelay !== false || options.fireDelay !== 0) {
                                $("body").after("<div id=\"endless_scroll_marker\"></div>");
                                // slight delay for preventing event firing twice
                                $("div#endless_scroll_marker").fadeTo(options.fireDelay, 1, function () {
                                    $(this).remove();
                                    fired = false;
                                });
                            }
                            else {
                                fired = false;
                            }
                        }

                        $("div#endless_scroll_loader").remove();
                    }
                });
            }
        };

    })(jQuery);

    // Script
    $(document).ready(function () {
        $(document).endlessScroll({
            inflowPixels: 300,
            callback: function () {
                var $img = $('#images li:nth-last-child(5)').clone();
                $('#timeline_col').append("" +
                    "<div class='thumbnail'>" +
                    "<a href='https://www.pexels.com/photo/mist-misty-fog-foggy-7919/'>" +
                    "<img class='img-responsive img-rounded' src='https://pexels.imgix.net/photos/7919/pexels-photo.jpg?fit=crop&w=1280&h=720' alt='Lights' style='width:100%'>" +
                    "<div class='caption'> " +
                    "<p>가나나ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㄴㅁㅇㄹㄹㄹㄹㄹㄹㄹㄹㄹㅏㅏ</p>" +
                    "</div>" +
                    "</a>" +
                    "</div>"
                );
            }
        });
    });
</script>
</body>
</html>